@font-face {
    font-family: 'Stone Breaker';
    src: url('/fonts/Stone\ Breaker.otf');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background: #fce094;
    color: white;
    font-family: sans-serif;
    text-align: center;
    cursor: url('/photos/cursor.png'), pointer;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

header p{ 
    font-family: 'Stone Breaker';
    color: palevioletred;
}

main {
    flex:1;
    display: flex;
}

#game{
    border: 1px solid palevioletred;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:flex;
    z-index: 1;
}