@font-face {
    font-family: 'Stone Breaker';
    src: url('/fonts/Stone\ Breaker.otf');
    font-weight: normal;
    font-style: normal;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('/photos/cursor.png'), auto;
}

body {
    background: #fce094;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* overflow: hidden; */
}

/* header, footer {
    padding: 8px;
    background: rgb(255, 182, 193); 
    border-bottom: 3px solid palevioletred;
    border-top: 3px solid palevioletred;
    text-align: center;
    flex-shrink: 0;
}

header p,
footer p {
    font-family: 'Stone Breaker';
    color: rgb(124, 0, 87);
    font-size: 1rem;
} */

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#game {
    border: 6px solid palevioletred;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(219, 112, 147, 0.5);
    position: relative;
}

.gameUI {
    font-family: 'Stone Breaker';
    color:rgb(165, 19, 43);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(157, 248, 104, 0.95);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 10;
}

.gameUI.active {
    display: flex;
}

#startapple, #restartbtn {
    font-family: 'Stone Breaker';
    color: rgb(165, 19, 43);
    background: transparent;
    border: 2px solid rgb(165, 19, 43);
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 10px;
    cursor: url('/photos/cursor.png'), auto;
}

#startapple:hover, #restartbtn:hover {
    background: rgb(165, 19, 43);
    color: white;
}

#touchcontrols {
    display: none;
    gap: 60px;
    justify-content: center;
    margin-top: 10px;
}


#leftbtn, #rightbtn {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    background: transparent;
    color: rgb(165, 19, 43);
    border: 5px dotted rgb(165, 19, 43);
    border-radius: 50%;
    cursor: pointer;
}

.arrows {
    background:rgb(165, 19, 43);
    color: rgb(255, 225, 230);
    border: 5px dotted rgb(165, 19, 43);
    cursor: url('/photos/cursor.png'), auto;
}

@media (max-width: 768px) {
    #touchcontrols {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 10px;
        display: none;
    }
    #game {
        width: 95vw !important;
        height: auto !important;
    }
    
    canvas {
        width: 100% !important;
        height: auto !important;
    }

    .gameUI h1 {
        font-size: 1.2rem;
    }

    .gameUI p {
        font-size: 0.75rem;
    }

    #startapple, #restartbtn {
        padding: 8px 18px;
        font-size: 0.85rem;
    }
}
