* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background: #fce094;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    cursor: url('photos/cursor.png'), pointer;
}